{% extends "base.admin.html.twig" %}

{% block title %}
    
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Custom styles for this page -->
    <link href="{{asset("admin/vendor/datatables/dataTables.bootstrap4.min.css")}}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{% block liste_head %}{% endblock %}</h6>
            <h6 class="m-0 font-weight-bold text-primary float-right">{% block liste_add %}{% endblock %}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                {% block liste_body %}
                    
                {% endblock %}
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Page level plugins -->
    <script src="{{asset("admin/vendor/datatables/jquery.dataTables.min.js")}}"></script>
    <script src="{{asset("admin/vendor/datatables/dataTables.bootstrap4.min.js")}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{asset("admin/js/demo/datatables-demo.js")}}"></script>
{% endblock %}
